.introducao-texto{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
    text-transform: lowercase;
}
.motivos-introducao-bg{
    padding: 60px 0px;
    background: var(--color-3);
    box-shadow: inset 300px 0px 0px #fff;
    background-image: url(../decor/decor-2.svg);
    background-repeat: no-repeat;
    background-position: bottom 30px right 60px;
    background-size: 70px;
}
.motivos-introducao{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0px 15px;
}
.motivos-introducao-info{
    text-transform: uppercase;
}
.motivos-introducao-info h1{
    color: var(--color-1);
}
.motivos-introducao-menu{
    color: var(--color-1);
    padding: 30px 0;
}
.motivos-introducao-menu li{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-4);
}
.motivos-introducao-menu li + li{
    margin-top: 15px;
}
.motivos-introducao-menu li::before{
    content: '';
    background-image: url(../img/polygon-1.svg);
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block; 
    width: 25px;
    height: 25px;
}