.whatsapp-bg{
    box-shadow: inset 0px 120px 0px 0px #222, inset 0px -120px 0px 0px #222;
}
@media (max-width: 900px){
 .whatsapp-bg{
    box-shadow: inset 0px 40px 0px 0px #222, inset 0px -220px 0px 0px #222;
 }   
}
.whatsapp{
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
@media (max-width: 900px){
    .whatsapp{
        grid-template-columns: 1fr;
        padding-bottom: 60px;
    }
}
.whatsapp-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.whatsapp-texto{
    display: flex;
    align-items: end;
}
.whatsapp-texto h1{
    color: var(--color-1);
    text-transform: uppercase;
    margin-bottom: 15px;
}
@media (max-width: 650px){
    .whatsapp-texto{
    font-size: var(--size-2);
    }
}
.whatsapp-img{
    display: grid;
    justify-items: end;
}
@media (max-width: 900px){
    .whatsapp-img{
        justify-items: normal;
        height: 200px;
        width: 100%;
        order: -1;
        background: url("../img/whatsappmedia.svg") no-repeat center center;
        background-size: cover;
    }
}
.whatsapp-img img{
    max-width: 450px;
}
@media (max-width: 900px){
    .whatsapp-img img {
        display: none;
    }
}
.whatsapp-btn{
    display: flex;
    max-width: max-content;
}
.whatsapp-btn a{
    background: var(--color-1);
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto 40px;
    align-items: center;
    justify-self: flex-start;
    align-self: flex-start;
    gap: 10px;
    position: relative;
    transition: 0.3s ease;
}
.whatsapp-btn a:hover{
    background: #dcdcdc;
}
@media (max-width: 650px){
    .whatsapp-btn a{
        padding: 8px 15px;
        font-size: var(--size-3);
    }
}
.seta-span{
    animation: seta 0.5s ease-in 0s infinite alternate;
    position: absolute;
    font-size: 1.5rem;

}
.whatsapp-span{
    color: rgb(52, 175, 35);
    }

@keyframes seta {
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }
  