.introducao-depoimentos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 15px;
    text-transform: lowercase;
    font-size: 2rem;
}
.depoimentos-bg{
    background: var(--color-3);
    /* padding: 40px 0; */
}
.depoimentos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background: var(--color-3);
}
@media (max-width: 1150px){
  .depoimentos{
    max-width: 650px;
  }

}
@media (max-width: 650px){
  .depoimentos{
    max-width: 450px;
  }

}
/*slide*/
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    display: flex;
    height: 350px;
    max-height: 100vh;
    background: var(--color-3);
  }
  @media (max-width: 1150px){
    [class^="number-slide"],
    [class*=" number-slide"]{}
  }
  .number-slide1 {
    background: url(../img/slide-1.svg);
  }
  @media (max-width: 1150px){
    .number-slide1{
      background: url(../img/slide-3.svg);
      width: 100%;
    }
  }
  @media (max-width: 650px){
    .number-slide1{
      background: url(../img/slide-5.svg);
      width: 100%;
    }
  }
  .number-slide2 {
    background: url(../img/slide-2.svg);
  }
  @media (max-width: 1150px){
    .number-slide2{
      background: url(../img/slide-4.svg);
      width: 100%;

    }
  }
  @media (max-width: 650px){
    .number-slide2{
      background: url(../img/slide-6.svg);
      width: 100%;

    }
  }
  
/*end*/

.slider-btn{
  padding: 40px 0;
  display: grid;
  align-items: center;
  justify-content: center;
}
.slider-btn a{
  padding: 10px 20px;
  background: var(--color-1);
  text-transform: uppercase;
  font-weight: bold;
}
