.introducao-depoimentos-contain{
  background: var(--color-3);
}
.introducao-depoimentos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 15px 10px 15px;
    text-transform: lowercase;
    font-size: 2rem;
    color: var(--color-1);
    display: flex;
    position: relative;
    max-width: max-content;
}
.introducao-depoimentos::after{
  content: '';
  width: 12px;
  height: 12px;
  background: var(--color-2);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: -0px;
  bottom: 17px;
}
.depoimentos-bg{
    background: var(--color-3);
    padding: 40px 0;
}
.depoimentos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*slide*/
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 400px;
    max-height: 100vh;
  }
  .number-slide1 {
    background: url(../img/slide-1.svg);
  }
  .number-slide2 {
    background: url(../img/slide-2.svg);
  }
  
  .number-slide3 {
    background: rgb(182, 255, 64);
    background: linear-gradient(
      128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%
    );
    background: linear-gradient(
      128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%
    );
  } 
  
/*end*/

.slider-btn{
    padding: 40px 0;
    display: grid;
    align-items: center;
    justify-content: center;
}
.slider-btn a{
  padding: 10px 20px;
  background: var(--color-1);
  text-transform: uppercase;
}